################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mjr.FeatureDriven.net4/Mjr.FeatureDriven.net4.Api/bin
